<h1>User: <%= @user.name %></h1>
<br />

<h3>Sorry, audio posts are not supported by the Tumblr API at the moment. I have reported the bug to them.</h3>
<br />
<h3>These are the posts from your first Tumblr blog that contain hyphenated tags:</h3>
			
	<%= form_tag "edit_tags" do %>
		<ul>
		<% @first_blog_posts.each do |m| %>
			<% m["tags"].each do |t| %>
				<% if t.include? "-" %> 
					<% unless m["type"]=="audio" %>
						<li>id: <%= m["id"] %>, type: <%= m["type"] %>, 
							<% unless m["title"].nil? %>title: <%= m["title"] %>,<% end %>
							tags: <%= t %>
							<%= check_box_tag "post_ids[]", m["id"] %>
						</li>
					<% end %>
				<% end %>
			<% end %>
		<% end %>
		</ul>
		<%= hidden_field_tag :id, @user.id %>
		<%= submit_tag "Edit Checked" %>
	<% end %>

