<div id="username">
	
<h1>Tumblr User: <%= @user.name %></h1>
<br />
<br />

</div>
<div id="table">
	
<p><strong>Below are the published posts from "<%= "#{@first_blog_name}.tumblr.com" %>" that contain hyphenated tags. 
<br />
Check one or more posts, then click the blue button to fix your tags.</strong></p>
<p>Sorry, the Tumblr API does not allow editing audio posts at the moment. I have reported the bug to Tumblr.</p>

			
	<%= form_tag "edit_tags", :name => "edit_form" do %>
		<table class="table table-bordered table-striped">
			<thead>
    			<tr>
      				<th>Type</th>
      				<th>Post URL</th>
      				<th>Tags</th>
    			</tr>
  			</thead>
		<% @first_blog_posts.each do |m| %>
			<% unless m["tags"].select{ |tag| tag.include? "-" }.empty? %>
				<% unless m["type"]=="audio" %>
					<tbody>
						<tr>							
							<td><%= m["type"] %></td>
							<td><%= link_to m["post_url"], m["post_url"], :target => "_blank" %></td>
							<td><%= m["tags"].map { |t| t }.join(", ") %></td>
							<td><%= check_box_tag "post_ids[]", m['id'] %></td>
						</tr>
					</tbody>
				<% end %>
			<% end %>
		<% end %>
		</table>
		<%= hidden_field_tag :id, @user.id %>
		<%= button_to_function "Check / Uncheck All", "toggleChecked()", :class => "btn" %>
		<%= submit_tag "Fix the hyphenated tags for all checked posts", :class => "btn btn-primary" %>
		
	<% end %>

</div>	

