<h1>User: <%= @user.name %></h1>
<br />


<h3>These are your Tumblr blogs:</h3>
<ul>
	<% @blogs.each do |blog| %>
		<li><%= blog["name"] %></li>
	<% end %>
</ul>
<br />
<h3>These are the post IDs from your first blog that contain hyphenated tags:</h3>
<ul>

	<% @first_blog_posts.each do |m| %>
		<% m["tags"].each do |t| %>
			<% if t.include? "-" %> 
				<li>id: <%= m["id"] %>, type: <%= m["type"] %>, title: <%= m["title"] %>  tags: <%= t %>, 
					<%= form_tag "edit_tags" do %>
						<%= hidden_field_tag "post_id", m["id"] %>
						<%= submit_tag "Edit" %>
					<% end %>
				</li>
			<% end %>
		<% end %>
	<% end %>
</ul>

